<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="IPValidationServiceTestSuites">
  <test name="test1">
  <packages>
   <package name="com.vuclip.*"></package>
  </packages>
    <!-- <classes>
       <class name="IPValidationServiceImplTest"/>
    </classes> -->
  </test>
</suite>	